/*-*-C-*-*/
/************************************************************************
 * it-style.css								*
 *									*
 * General stylesheets  						*
 ************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 100%;*/
	vertical-align: baseline;
	background: transparent;
}
	
body {
	line-height: 1.4em;
	font-family: verdana, helvetica, arial, "trebuchet ms",sans-serif;
	font-size:85%;
	width:100%;
	background: #fff;
}

#container {
	float:left;
	width:100%;
	position:relative;
	right:82%;
	background:#ddd; /* column 1 background colour */
}
#container2 {
	clear:left;
	float:left;
	width:100%;
	background:#fff; /* column 2 background colour */
	margin-bottom:1.0em;
	margin-top:1.0em;
}

#leftCol {
	
	/*display:inline;*/
	float:left;
	width:18%;
	min-width: 1.0em;
	/*margin: 0 1% 1.0em 1%;*/
	clear:left;
	position:relative;
	left:82%;
	overflow:hidden;
	}

#centerCol {
	margin: 0 1% 0 1%;
	float:left;
}
	
.narrow {
	width:69%;
	}
.wide {
	width:98%;
	}
		
#rightCol {
	float:right;
	padding:0 1% 10.0em 2%;
	width:25%;
	border-left: 4px solid #eee;
	-moz-border-radius: 16px 0 0 30%;
    -webkit-border-radius: 16px 0 0 30%;
}

#bodywrapper {	
	width:81%;
	float:left;
	position:relative;
	left:83%;
	background:#fff;
}

.bodytable-attr {
	float:left;
}

.bodytable-attr {
	float:left;
}

.bodytable-attr img {
	padding:0 3px 0 3px;
}
table { 
	font-family: verdana, helvetica, arial, "trebuchet ms",sans-serif;
	vertical-align: top;
	font-size:100%;
}

#centerCol form input {
	margin:0.5em;
}
table.columns_h3 td {
	padding-right:2em;
	}
	
small {
	font-size:0.8em;
	
}
dd { margin-left:1.0em;
}

p {
margin:0.3em 0 1.0em 0;

}
.info {
	display:none;
}

#wrapper {
	width:100%;
	border-top: none;
	background:transparent;
	margin:0;
	padding:0;
        height:127px;
        border-bottom:23px solid #bbb;
}
#wrapper, .toppImg, .toppNav {
        background:#eaeaea;
}

#footer, .footer {
	border-top: 1px solid #333;
	clear:both;
	width:auto;
	padding: 1.0em 0 1.0em 0;
	margin-top:1.0em;
	margin-left:1%;
	margin-right:1%;
}

.footer {
	font-size:0.8em
}

.toolbar {
	border-collapse:collapse;
	clear:both;
	}
.toolbarheader {
	font-size:smaller;
	font-weight:600;
	display:inline;
	}
.toolbarcontent {
	font-size:smaller;
	display:inline;
	margin:3px;
	/*border-left:thin solid black;
	border-right:thin solid black;*/
	}

#explorer {
	margin-top:2.0em;
	margin-left:1.0em;
}
#explorer_show {
	float:left;
	margin-top:2.0em;
	margin-left:1.0em;
	}
	
.right-col {
	float:right;
	width: auto;
	margin-left: 0.4em;
	/*height:100%;*/
	}

.leftColBox {
	background: url('/images/transparent.png') repeat-y;
	margin-top: 2.0em;
	padding-left: 1.0em;
	padding-bottom: 2.0em;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	display:block;
	}

.leftColBox ol, .leftColBox ul {
	margin-left:2em;
}
	
#leftCol hr {
color:#fff;
background-color:#fff;
height:1px;
border:none;

}

#leftCol p {
	
	/*font-size:0.9em;*/
	color:#000;
	padding: 4px 13px 4px 13px;
	display: block;
	text-decoration:none;
	margin:0;
	/*font-weight:600;*/
	/*font-family:Verdana, Arial, Helvetica, sans-serif;*/
}

#centerCol ul, #rightCol ul {
	padding-left:2.0em;
    margin-bottom:0.8em;
    list-style-image: url("/images/uu_bullet.png");
}

.leftColBox ul {
    margin-bottom:0.8em;
    list-style-image: url("/images/uu_bullet.png");
}

#centerCol ol {
	padding-left:2.0em;
    margin-bottom:0.8em;
    list-style-type:decimal;
}

div.leftboxcolumn {
 float:left;
 overflow:visible;
 width: 45%;
 background:#fff;
 /*max-width: 60em;*/
 /*border: 1px solid #0f0;*/
 padding:0;
 margin: 0 3% 0 1%;
}
div.rightboxcolumn {
	overflow:visible;
	float:left;
    width: 45%;
 /*max-width: 60em;*/
 /*border: 1px solid #f00;*/
 padding:0;
 margin: 0 1% 0 3%;
}

#leftCol h1, #rightCol h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.6em;
	font-weight:500;
	text-transform: none;
	color:#333;
	padding:0 0 0 0px;
	margin: 7px 0px 0px 0px;
    border-bottom:none;
}

#share {
float:right;
margin-top:1.2em;
}

.qbullet {
	position:relative;
	top:3px;
	margin-left:2px;
	margin-right:2px;
}

.edit {
	clear:both;
	font-size:smaller;
	float:right;
	padding:5px;
	}

.personcard {
	/*border: 1px solid #333;*/
	float:left;
	background: #fbedd3 url('/images/transparent.png') repeat-y;
    -moz-border-radius: 0 32px 0 0;
    -webkit-border-radius: 0 32px 0 0;
    border-radius: 0 32px 0 0;
	padding:0;
	width:100%;	
	margin-bottom: 1.5em;
	
}

.picturecard {
	float:left;
	margin: 2px;
	background:#fff;
	border: 1px solid #555;
	clear:left;
	display:inline-block;
	padding: 1.0em 1.0em 2.0em 1.0em;
	clear:left;
	margin:1.0em;
	}

.personinfo {
	font-size:1.2em;
    font-family:Arial, Helvetica, sans-serif;
    color:#900;
    font-weight:400;
	padding:1.0em;
	line-height:1.3em;
}

.persondetails {
	float:left;
	display:inline-block;
	vertical-align:top;
	margin:1.0em;
}
.persondetails td {
	vertical-align:top;
}

.columns_locked_row {
	float:left;
	width:100%;
	padding-right:1%;
}

.columns_locked_content {
	float:left;
	width:48%;
	padding-right:1%;
	}
.tabular_row {
	clear:both;
}

.tabular_header {
	float:left;
	width:30%;
	overflow:hidden;
}
.tabular_content {
	padding-left:2%;
	padding-top:1.0em;
	float:left;
	width:68%;
}

/**************** rubrikstylning ****************/

h1 {
	font-size:2.2em;
	font-weight:normal;
	line-height:1.4em;
	margin:0.3em 0 0.3em 0;
	padding: 0;
        font-family:Arial, Helvetica, Verdana,sans-serif;
	Border-bottom: 1px solid #333;
	color:#555;
	width:auto;
}
h2 {
	clear:both;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.7em;
	font-weight:300;
	text-transform: none;
	color:#900;
	padding:0;
	line-height:1.2em;
	margin:1.0em 0 0.3em 0;
    border-bottom:none;
}
h2 a, h3 a {
	text-decoration:none;
        color:#666;
}
h3 {
	clear:both;
	font-size:1.4em;
    font-family:Arial, Helvetica, sans-serif;
    color:#333;
    font-weight:400;
	margin:0.5em 0 0.3em 0;
	padding:0;
	line-height:1.6em;
}

.leftmenu h3 {
	margin-left:1.0em;
	font-size:1.15em;
	color:#900;
	margin-top:0;
	padding-top:1em;
	}
h4 {
	clear:both;
	font-size:1.15em;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:400;
	line-height:1.4em;
	margin:1.0em 0;
	border-bottom: #e9efe5 2px solid;
	padding:0.5em 0.5em 0.1em 1.5em;
	line-height:1.4em;
	background: #e9efe5 url('/images/transparent.png') repeat-y;
	-moz-border-radius: 9px 9px 0 9px;
    -webkit-border-radius: 9px 9px 0 9px;
    border-radius: 9px 9px 0 9px;
}
 /* Citat */
h5  {
        font-size:1.15em;
        font-weight:400;
        font-style:italic;
        font-family: verdana,Arial;
	margin:10px 0;
	padding:0 0 0 0px;
        color: #333333;
}
.toppImg h1{
    border:none;
}

.emplist h2 {
    margin:0 0 6px 0;
}
	
td > h1 {
  padding-top: 0em;
  margin-top: 0em;
 clear: left;
}

/* This doesn't look good if there is "naked text" between the elements. */
/* h1 + P, h2 + P, h3 + P, h4+P, h1 + ul, h2 + ul, h3 + ul, h4+ul, h1 + ol, h2 + ol, h3 + ol, h4+ol, h1+h2, h2+h3, h3+h4 { margin-top: -0.6em; } */

HR {
    color: #555555;
    background-color:#555;
	height:1px;
	border:none;
	clear:both;
}

/* Links */
/* a:link, a:visited { color: #990000; } */

/* Tables */
	
table.header { padding: 0em; border: 1px; }
td#current { text-decoration: underline; }

/* front-page headers: bg red, white text, bold, centered */
td.header, td.header a:visited, td.header a:link { 
  background-color: #990000; 
  color: #ffffff; 
/*   font-weight: bold;  */
  text-align: center; 
  text-decoration: none; 
}

td.header a:hover { 
  background-color: #990000; 
  color: #ffffff; 
/*   font-weight: bold;  */
  text-align: center; 
  text-decoration: underline; 
}

/* subheaders: same, not bold */
td.subheader, td.subheader a:visited, td.subheader a:link { 
  background-color: #990000; 
  color: #ffffff; 
  text-align: center; 
  text-decoration: none; 
}
td.subheader a:hover { 
  background-color: #990000; 
  color: #ffffff; 
  text-align: center; 
  text-decoration: underline; 
}

/* same but left-aligned */
td.leftheader, td.leftheader a:visited, td.leftheader a:link { 
  background-color: #990000; 
  color: #ffffff; 
  text-align: left; 
  text-decoration: none; 
}
td.leftheader a:hover { 
  background-color: #990000; 
  color: #ffffff; 
  text-align: left; 
  text-decoration: underline; 
}

/* red on white */
td.whiteheader, td.whiteheader a:link, td.whiteheader a:visited { 
  color: #990000; 
  background-color: #ffffff; 
  text-decoration: none;  
}

span.whiteheader { 
  background-color: #ffffff; 
  color: #000000; 
}

.margin { 
  background-color: #990000; 
	background: #990000;
	color: white;
}
td.margin{ 
  background-color: #CCC; 
	color: white;
/*   font-weight: bold;  */
  text-align: center; 
}

/* contents of a front-page */
div.contents { 
  background-color: transparent; 
  color: #000000; 
  margin-left: 2em; 
  margin-right: 2em; 
}

/* contents of a sub-page: larger margins */
div.subcontents { 
  background-color: transparent; 
  color: #000000; 
  margin-left: 4em; 
  margin-right: 4em; 
}

/* Nicer tables for the catalog */
table.katalog {
  border-style: solid;
  border-width: thin;
  border-spacing: 0pt;
  border-collapse: collapse;
}

table.katalog td { 
 padding: 2pt 0.6em;
}

table.katalog th {
  color: black;
  background-color: #ccc;
}
table.katalog td.index {
  color: black;
  background-color: #ccc;
}

table.katalogperson {
/*   background-image: url(/katalog/uubakgrund.gif); */
  border-collapse: collapse;
  border: 2px solid black;
}
/* table.katalogperson table td { */
/*  padding: 4px; */
/* } */

div.frontbox {
	float:left;
 	margin: 1.0em 0.2em 0.5em 0em;
 	width:100%;
}

div.frontflashbox {
/*   font-size: smaller; */
 border: 1px solid #990000;
 margin: 0.4em 0em;
/*  margin: 1em 0em 0.5em 0.5em; */
}
div.frontboxheading {
  color: #555;
  font-family:Arial, Helvetica, sans-serif;
  font-size:1.4em;
  /* top right bottom left */
  padding: 0.2em 0.2em 0.3em 0em;
  border-bottom: 1px solid #333;
 
}
div.frontboxheading > p {
 margin: 0em;
}
div.boxbody > p {
  margin: 0.4em 0em 0em 0.0em;
}

div.boxbody {
  /* top right bottom left */
 padding: 0.4em 1em 0.5em 1em;
}

div.frontboxbody {
  /* top right bottom left */
 background: #fff;
 padding: 0.5em 1em 0.5em 1em;
}

div.frontboxbody div {
  margin-bottom: 0.3em;
}

/* Interna saker (kalendarium och seminarium) i LäsIT */
div.lesitinternt {
/*  background-color: #ffff00; */
  color: black;
  background-color: #ffff99;
}

.clear { background-color:white; color:black; }
.note { background-color: #FFCC66;   color: black; }
.sans { font-family: sans-serif, sans; }
.red { color: #990000; background-color: white}
.white { color: white }

.title { 
	color: #555555; 
	background-color: white;
/*	text-transform: capitalize */
}

.loc { 
	font-size: smaller;	
	font-weight: bold; 
	font-family: sans-serif; 
}
.nav { 
	font-size: smaller;
	text-indent: 3em ; 
}

.head { 
	font-weight: bold; 
}

A.submenu:link, A.submenu:visited {
  text-decoration: none;
 color: white;
}
A.menu:link, A.menu:visited {
  text-decoration: none;
}
A.menu:hover, A.submenu:hover {
  text-decoration: underline;
 color: white;
}
DL.menu A:link, DL.menu A:visited, DL.submenu A:link, DL.submenu A:visited, DL.rootmenu A:link, DL.rootmenu A:visited {
  text-decoration: none;
  color: white;
}
DL.menu A:hover, DL.submenu A:hover, DL.rootmenu A:hover {
  text-decoration: underline;
  color: white;
}

A:link, .simulatedlink {color: #2222d0 ; text-decoration:none; background-color: inherit; }
A:visited {color: purple ; text-decoration:none; background-color: inherit; }
A:active {color: aqua ; background-color: inherit; }
a:hover {text-decoration:underline;}

.textcol { color: #555555; background-color: white; }
.address { color: #555555;   background-color: white; font-size: smaller }
/* .header  { color: #555555; font-size: smaller; } */

div.menu {
  text-align: left;
  color: white;
  background-color: #990000;
  font-size: smaller;
  line-height: 1.6; 
}
dl.rootmenu {
 text-align: left;
 color: white;
  background-color: #990000;
}
dl.menu {
 font-size: smaller;
 text-align: left;
 color: white;
  background-color: #990000;
}
dt.menu, dt.rootmenu {
 margin-top: 0.6em;
 color: white;
  background-color: #990000;
}
dd.rootmenu {
 color: #cccccc;
  background-color: #990000;
/*  font-size: smaller; */
 margin-left: 2ex;
}
dd.menu {
 color: #cccccc;
  background-color: #990000;
 margin-left: 2ex;
}

/* for Wiki */
table.diff
  { width: 95%; }
td.diff-added
  { background-color: #cfffcf;
    color:            #000000; }
td.diff-removed
  { background-color: #ffffaf;
    color:            #000000; }

p.warning
  { color:      #ff3f3f;
    background: transparent; }

table.wiki {
  border-style: solid;
  border-width: thin;
  border-spacing: 0pt;
  border-collapse: collapse;
  border-color: #ccc;
}

table.wiki tr.wikitableeven {
	background-color: #ddd;
}

table.wiki tr.wikitableodd {
	background-color: #fff;
}

table.wiki td {
        padding: 2pt;
	vertical-align: top;
}

tr.wikitableeven td:first-child {
        padding: 2pt;
	border-right: thin solid #ccc;
}	

tr.wikitableeven td {
        padding: 2pt;
	border-right: thin solid #ccc;
}	
tr.wikitableodd td:first-child {
        padding: 2pt;
	border-right: thin solid #ccc;
}	
tr.wikitableodd td {
        padding: 2pt;
	border-right: thin solid #ccc;
}	

table.wiki tr.wikitableneutral td {
	border-style: solid;
        border-width: thin;
        padding: 2pt;
        border-color: #ccc;
}

table.wiki th {
  border-bottom:1px solid;
  border-right:1px solid;

  border-color: #ccc;
  color: #333;
  background-color: #fff;
  padding: 2pt;
}

div.wikiflash {
  background: #e7ccbb url('/images/transparent.png') repeat-y;  
  -moz-border-radius: 32px 0 32px 0px;
  -webkit-border-radius: 32px 0 32px 0px;
  border-radius: 32px 0 32px 0px;
  border: 0;
  padding: 1.0em;
  margin:1.0em;
}

img.wikileft {
  float:left;
  padding-right:5pt;
  padding-bottom:5pt;
}

img.wikiright {
  float:right;
  padding-left:5pt;
  padding-bottom:5pt;
}

blockquote.gt-quote {
  border-left: solid;
  border-color: #0000FF;
  padding-left: 0.5em;
  margin-left: 0em
}

div.diff {
  color: #333;
  white-space: normal;
  overflow: visible;
  max-height: none;
}

div.diff ins, ins.diff {
  background: #cfc;
  color: black;
  text-decoration: none;
}

div.diff del, del.diff {
  background: #fcc;
  color: black;
  text-decoration: none;
}

/* OPUS */
.opus_authors a { color: black; }
.opus_manifestation a { color: black; }

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: underline;
}
del {
	text-decoration: line-through;
}

#header {
	/*position:static;*/
	/*width:auto;*/
	/*height:178px;*/
	/*margin-bottom:30px;*/

}

#googlebox {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:1.2em;
	margin-top:1px;
	margin-right:-4px;
	padding:4px;
	height:36px;
	width:240px;
	border-top: 2px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
#searchbutton {
	height:36px;
	width:36px;
	background: #50cb80 url(/newimages/search.png) no-repeat center;
	border-top: 3px solid #70e6a6;
	border-bottom: 3px solid #30a050;
	border-left: 3px solid #70d696;
	border-right: 3px solid #40b770;
	cursor: pointer;
	position:relative;
	top:-2px;
	left:-1px;
}

#pic {
	
	padding: 0;
	margin: 0;
	position: absolute;
	top:0px;
	right:0px;
	z-index:-1;

}
#gradient {
	/*background: url(/newimages/cornergrad.png) no-repeat bottom left;*/
	width:700px;
	height:150px;
	
	}
#gradimg {
	 width:400px;
	 position:absolute;
	 top:-10px;
	}	
#logo {
	background: url(/images/uulogo_grey.png) no-repeat center;
}
.logo {
	display:block;
	width:160px;
	height:150px;}


#name {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	border:0;
	font-size:3em;
	line-height:1.1em;
	position: absolute;
	top: 27px;
	left: 190px;
	z-index:2;
	text-shadow: -2px 0 white, 0 2px white,
      2px 0 white, 0 -2px white;
    width:auto;
	}	
#name a {color:#000}
#name small {
	font-size:0.6em; 
	line-height:0.8em;}
	
#logo {
	position:absolute;
	left:0;
	top:0;
	z-index:0;
	}
#topMenu {
	margin-top:150px;
	float:left;
	width:100%;	
	}
	
#toolbox {
	margin:0px 0 0 1em;
}
	
#lang_switch{
	float:left;
border:2px solid #fff;
margin:2px 1em 3px 0;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

#listen_button{
	border:0px;
	float:left;
margin-right: 1em;
}

#searchresultsheading {
	display:none;
	float:left;
}
#hide-button {
	float:right;
	color:#999;
	display:none;
	}
#hide-button:hover {
	cursor:pointer;
	}
#searchresultsheading h2 {
	color:#ccc;
}

#lang_search {	
	position:absolute;
	text-align: right;
	top:110px;
	right:0;
	z-index:2;
	width:300px;
	}

#pagemenu {
	position:static;
	width:200px;
    background:#bbb;
    display:block;

}

/****  TOPPMENY NIVA 1  ****/

#padding {
	width:1%;
	float:left;
	height:25px;
}

ul#menucontainer {
	float:left;	
    list-style-image:none;
    list-style-type:none;
    width:100%;
    background:url('/newimages/menygrad.png') #8a8a8a;
}

ul#menucontainer li {
	display:inline;
}

ul#menucontainer li.menuitem a, ul#menucontainer li.selected a {
	color: #fff;
	padding: 3px 13px 3px 13px;
	display: block;
	float:left;
	text-decoration:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:1.0em;
	height:20px;
    font-weight:700;
}

a.tool {
	float:right;
	display:block;
	padding-left:13px;
	padding-right:13px;
	padding-top:1px;
	height:25px;
	color:#fff;
	font-size:80%;
}

ul#menucontainer li a:hover{
	
	background: #ddd url('/images/transparent.png') repeat-y;
	color:#333;
	/*border-bottom:1px solid #ddd;*/
	text-decoration: none;
}

ul#menucontainer li.selected a {
	text-decoration: none;
	color:#333;
	/*border-bottom:1px solid #ddd;*/
	background: #ddd url('/images/transparent.png') repeat-y;
}

#toolboxwrapper {
	float:right;
}

.leftmenu ul {
	margin-left:1.2em;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	margin-top:-1px;
	/*opacity:0.2;filter:alpha(opacity=20);*/
	font-size:0.9em;
	display:block;
	list-style-position:outside;
	list-style-image:none;
	list-style-type:none;
	}
ul.leftmenu li {
	display:block;
	list-style-image:none;
	list-style-type:none;   
    border-bottom:1px solid #fff;
	background-image: url('/images/transparent.png');
	background-repeat: repeat-y;	
}

.leftmenu a {
	font-size:1.0em;
	color:#000;
	padding: 4px 13px 4px 13px;
	display: block;
	text-decoration:none;
	font-weight:400;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

#leftCol a:hover{
	text-decoration: none;
	text-decoration: none;
	color:#333;
    background:#fff;
}


// BV: these affect (only, I hope) the non-Wiki menus, but in a bad way
/* ul.leftmenu li.selected { */
/* padding: 4px 13px 4px 13px; */
/* font-weight:400; */
/* } */

/* li.selected > a { */
/* 	text-decoration: none; */
/* 	text-decoration: none; */
/* 	color:#333; */
/* 	background:#FFF; */
/* } */

    /* Standard classes for use in any page */
    /* PhorumDesignDiv - a div for keeping the forum-size size */
    .PDDiv
    {
        width: 100%;
        text-align: left;
    }        
    /* new class for layouting the submit-buttons in IE too */
    .PhorumSubmit { 
        border: 1px dotted #808080; 
        color: Black; 
        background-color: #ddd;
        font-size: 12px; 
        font-family: Lucida Sans Unicode, Lucida Grande, Arial, sans-serif; 
        vertical-align: middle; 
    }    
    
    .PhorumTitleText
    {
    	padding: 3px;
	margin-left: 0em;
    }

    .PhorumStdBlock
    {
        font-size: 12px;
      font-family: Lucida Sans Unicode, Lucida Grande, Arial, sans-serif;
        background-color: White;
        border: 1px solid #808080;
        padding: 3px;		
    }

    .PhorumStdBlockHeader
    {
        font-size: 12px;
      font-family: Lucida Sans Unicode, Lucida Grande, Arial, sans-serif;
        background-color: white;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        border-top: 1px solid #000000;
        padding: 3px;
    }

    .PhorumHeaderText
    {
    	color: black;
        font-weight: bold;
    }

    .PhorumNavBlock
    {
        font-size: 12px;
      font-family: Lucida Sans Unicode, Lucida Grande, Arial, sans-serif;
        border: 1px solid #000000;
        margin-top: 1px;
        margin-bottom: 1px;
        background-color: #990000;
        padding: 2px 3px 2px 3px;
	color: #BBBBBB;
    }

    .PhorumNavHeading
    {
    	color: #BBBBBB;
        font-weight: bold;
	
    }

    A.PhorumNavLink
    {
        color: #FFFFFF;
        text-decoration: none;
        font-weight: normal;
      font-family: Lucida Sans Unicode, Lucida Grande, Arial, sans-serif;
        font-size: 12px;
        border-style: solid;
        border-color: #000000;
        border-width: 0px;
        padding: 0px 4px 0px 4px;
    }

    A.PhorumNavLink:hover
    {
        background-color: #999999;
        font-weight: normal;
        font-family: Lucida Sans Unicode, Lucida Grande, Arial, sans-serif;
        font-size: 12px;        
        border-style: solid;
        border-color: #000000;
        border-width: 1px;
        color: #FFFFFF;
    }

    .PhorumFloatingText
    {
        padding: 10px;
    }

    .PhorumHeadingLeft
    {
        padding-left: 3px;
        font-weight: bold;
    }

    .PhorumUserError
    {
        padding: 10px;
        text-align: center;
        color: Red;
        font-size: 16px;
        font-family: Trebuchet MS,Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

   .PhorumNewFlag
    {
        font-family: Lucida Sans Unicode, Lucida Grande, Arial, sans-serif;
        font-size: 10px;
        font-weight: bold;
        color: #cc0000;
    }

    

    /* PSUEDO Table classes                                       */
    /* In addition to these, each file that uses them will have a */
    /* column with a style property to set its right margin       */    

    .PhorumColumnFloatXSmall
    {
        float: right; 
        width: 75px;
    }

    .PhorumColumnFloatSmall
    {
        float: right; 
        width: 100px;
    }

    .PhorumColumnFloatMedium
    {
        float: right; 
        width: 150px;
    }

    .PhorumColumnFloatLarge
    {
        float: right; 
        width: 200px;
    }

    .PhorumColumnFloatXLarge
    {
        float: right; 
        width: 400px;
    }

    .PhorumRowBlock
    {
        border-bottom: 1px solid #F2F2F2;
        padding: 5px 0px 0px 0px;
    }

    /************/
    

    /* All that is left of the tables */

    .PhorumStdTable
    {
        border-style: solid;
        border-color: #000000;
        border-width: 1px;
        width: 100%;
    }

    .PhorumTableHeader
    {
        background-color: White;
        border-bottom-style: solid;
        border-bottom-color: #000000;
        border-bottom-width: 1px;
        color: #000000;
        font-size: 12px;
        font-family: Lucida Sans Unicode, Lucida Grande, Arial, sans-serif;
        font-weight: bold;
        padding: 3px;
    }

    .PhorumTableRow
    {
        background-color: #FFFFFF;
        border-bottom-style: solid;
        border-bottom-color: #F2F2F2;
        border-bottom-width: 1px;
        color: Black;
        font-size: 12px;
        font-family: Lucida Sans Unicode, Lucida Grande, Arial, sans-serif;
        height: 35px;
        padding: 3px;
    }
    
    .PhorumTableRowAlt
    {
        background-color: #ccc;
        border-bottom-style: solid;
        border-bottom-color: #F2F2F2;
        border-bottom-width: 1px;
        color: #000000;
        font-size: 12px;
        font-family: Lucida Sans Unicode, Lucida Grande, Arial, sans-serif;
        height: 35px;
        padding: 3px;
    }    

    table.PhorumFormTable td
    {
    	color: #000000;
        height: 26px;
    }

    /**********************/


    /* Read Page specifics */
    
    .PhorumReadMessageBlock
    {
        margin-bottom: 5px;
    }
    
   .PhorumReadBodySubject
    {
        color: Black;
        font-size: 16px;
        font-family: Lucida Sans Unicode, Lucida Grande, Arial, sans-serif;
        font-weight: bold;
        padding-left: 3px;
    }

    .PhorumReadBodyHead
    {
        padding-left: 5px;
    }

    .PhorumReadBodyText
    {
        font-size: 12px;
        font-family: Lucida Console, Andale Mono, Courier New, Courier, monospace;
        padding: 5px;
    }

    .PhorumReadNavBlock
    {
        font-size: 12px;
        font-family: Lucida Sans Unicode, Lucida Grande, Arial, sans-serif;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        border-bottom: 1px solid #000000;
        background-color: #990000;
        padding: 2px 3px 2px 3px;
    }

    /********************/
    
    /* List page specifics */

    .PhorumListSubText
    {
        color: #707070;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .PhorumListPageLink
    {
        color: #707070;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .PhorumListSubjPrefix
    {
        font-weight: bold;
    }    

    .PhorumListModLink, .PhorumListModLink a
    {
        color: #707070;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
    /********************/

    /* Override classes - Must stay at the end */

    .PhorumNarrowBlock
    {
        width: 600px;
    }

    .PhorumSmallFont
    {
        font-size: 11px;
    }    

    .PhorumLargeFont
    {
        color: #000000;
        font-size: 16px;
        font-family: Trebuchet MS,Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
    }    


    .PhorumFooterPlug
    {
        margin-top: 10px;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }

/* borde flyttas till broschyr.css i /research/info */
.broschyrtext {
vertical-align:top;
}
/* Google custom search*/
.gsc-control-cse {
  font-family: Verdana, sans-serif;
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}
input.gsc-input {
  border-color: #333333;
  height:35px;
}
input.gsc-search-button {
  border-color: #900;
  background-color: #900;
  color:#fff;
  font-weight:700;
  height:35px;
  text-shadow:none;
}
.gsc-tabHeader.gsc-tabhInactive {
  border-color: #E9E9E9;
  background-color: #E9E9E9;
}
.gsc-tabHeader.gsc-tabhActive {
  border-top-color: #FF9900;
  border-left-color: #E9E9E9;
  border-right-color: #E9E9E9;
  background-color: #FFFFFF;
}
.gsc-tabsArea {
  border-color: #E9E9E9;
}
.gsc-webResult.gsc-result {
  border-color: #FFFFFF;
}
.gsc-webResult.gsc-result:hover {
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}
.gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link b {
  color: #0000CC;
}
.gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited b {
  color: #0000CC;
}
.gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover b {
  color: #0000CC;
}
.gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active b {
  color: #0000CC;
}
.gsc-cursor-page {
  color: #0000CC;
}
a.gsc-trailing-more-results:link {
  color: #0000CC;
}
.gs-webResult .gs-snippet {
  color: #000000;
}
.gs-webResult div.gs-visibleUrl {
  color: #008000;
}
.gs-webResult div.gs-visibleUrl-short {
  color: #008000;
}
.gs-webResult div.gs-visibleUrl-short {
  display: none;
}
.gs-webResult div.gs-visibleUrl-long {
  display: block;
}
.gsc-cursor-box {
  border-color: #FFFFFF;
}
.gsc-results .gsc-cursor-page {
  border-color: #E9E9E9;
}
.gsc-results {
	background: #e9efe5 url('/images/transparent.png') repeat-y;
	padding:0.5em;
	width: 95%;
}
.gsc-wrapper {
	width:95%;
}
.gsc-results .gsc-cursor-page.gsc-cursor-current-page {
  border-color: #FF9900;
}
.gs-promotion {
  border-color: #336699;
}
.gs-promotion a.gs-title:link,
.gs-promotion a.gs-title:link *,
.gs-promotion .gs-snippet a:link {
  color: #0000CC;
}
.gs-promotion a.gs-title:visited,
.gs-promotion a.gs-title:visited *,
.gs-promotion .gs-snippet a:visited {
  color: #0000CC;
}
.gs-promotion a.gs-title:hover,
.gs-promotion a.gs-title:hover *,
.gs-promotion .gs-snippet a:hover {
  color: #0000CC;
}
.gs-promotion a.gs-title:active,
.gs-promotion a.gs-title:active *,
.gs-promotion .gs-snippet a:active {
  color: #0000CC;
}
.gs-promotion .gs-snippet,
.gs-promotion .gs-title .gs-promotion-title-right,
.gs-promotion .gs-title .gs-promotion-title-right *  {
  color: #000000;
}
.gs-promotion .gs-visibleUrl,
.gs-promotion .gs-visibleUrl-short {
  color: #008000;
}

.gsc-control-cse {
  width:96%;
}

.cse .gsc-webResult.gsc-result, .gsc-webResult.gsc-result {
  border: 0;
}
div.gsc-clear-button {
	display: none !important;
	position:absolute;
	top:80px;
	right:10px;
}
